.quoteContainer {
	display: flex;
	flex-direction: column;
	background-color: rgb(65, 65, 65);
	border-radius: 10px;
	color: white;
	margin: 1rem auto;
	padding: 1rem;
	width: 20rem;
	min-height: 20rem;
	font-size: clamp(1.5rem, 3vw, 3rem)
}

@media screen and (max-width: 400px) {
  .quoteContainer {
    width: 15rem;
  }
}
